
.link{
    text-decoration: none;
    padding: 0 1.4rem;
    font-size: 1.3rem;
    color: rgb(163, 159, 159);
}

li{
    display: flex;
    flex-direction:row;
    align-items: center;
   
}


@media (max-width:555px) {
     h2{
         color: red;
     }
    .menus img{
        display: block;
    }
    .nav{
        display: none;
    }
}

