
@import url("https://fonts.googleapis.com/css?family=Varela|Lily-Script-One");

body{
    background-color:#36322B;
    margin: 0;
    padding: 0;
    font-family: 'Varela';;
    color: rgb(113, 62, 255);
    height: 100vh;
}
.App{
   
  
    background-color:#020101;
    margin-inline: 40px;
    margin-top: 70px;

    
}
.to-eth p{
    padding-top:10px;
    font-size: 1.2em;
    margin: 0;
}
.para p{
    color: white;
    font-size: 1px;
    box-sizing: content-box;

}

.lightmodeicon img{
    width: 5%;
    padding-top: 5px;
    
}
/*for the text*/
.home-travel-title{
    font-size:3em;
    color: white;
    
    display:flex;
    flex-direction:column;
    align-items: center;   
}

.church-img{
       width: 80%;
}
.Home-content{
  
    background-color:#020101;
    margin-inline: 10px;
    display:flex;
    /* height: 90vh; */
    align-items:center;
    justify-content:space-around;
    margin-top:20px ;
    
}
.to-eth{
    margin-right: 90px;
}
.Home-content-one{
    
    display:flex;
    
}
li{
    color: #fff;
}
.Home-content-two{
       position: relative;
    
}
.arrow img{
    }
.travel-do{
    display:flex;
    align-items:center;
    
    justify-content: start;
}
.cloud{
   
    width: 50%;
    position:absolute;
    top: 74%;
    left: 10%;
    z-index: 1;
}
.cloud-2{
    
    width: 50%;
    position:absolute;
    top: 80%;
    left: 10%;
}


.footer-image img{
    width: 10%;
}

@media (max-width:910px) {
    .Home-content{
        flex-direction:column;
        display:flex;
   
        align-items:center;
        justify-content:space-around;
    }
    .cloud{
        top: 70%;
        
    }
    @media (max-width:600px){
        .App{
            margin: 15px;
            padding-inline: 10px;

        }
        .home-travel-title{
            font-size:2.5em;
        }
        .arrow img{
            width: 70%;
        }
        .to-eth{
            text-align: left;
        }
    }
}